
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<link type="text/css" rel="stylesheet" href="~/lib/jsgrid/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="~/lib/jsgrid/jsgrid-theme.min.css" />

<div id="allActionsGrid"></div>
<div class="row">
    <div class="col-md-6"><div id="pageViewsGrid"></div></div>
    <div class="col-md-6"><div id="clickStatisticsGrid"></div></div>
</div>

@section Scripts {
    <script src="~/lib/jsgrid/jsgrid.js"></script>
    <script src="~/js/dashboard.js" asp-append-version="true"></script>
}
