@{
    ViewData["Title"] = "Dashboard";
}

<link rel="stylesheet" type="text/css" href="~/lib/chart/Chart.min.css">

<h1>Dashboard</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="realtime-tab" data-toggle="tab" href="#realtime" role="tab" aria-controls="realtime" aria-selected="true">Realtime</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="total-tab" data-toggle="tab" href="#total" role="tab" aria-controls="total" aria-selected="false">Total</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="behaiviour-tab" data-toggle="tab" href="#behaiviour" role="tab" aria-controls="behaiviour" aria-selected="false">Behaivour</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="realtime" role="tabpanel" aria-labelledby="realtime-tab">
        <h3>Open sessions</h3>
        <div class="table-responsive">
            <table id="onlineClients" class="table table-bordered ">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="total" role="tabpanel" aria-labelledby="total-tab">
        <h3>Total statistics</h3>
        <h4>Unique clients: <span id="totalUniqueUsersCount" /></h4>
        <h4>Total page views: <span id="totalPageViewsCount" /></h4>
        <h4>Total clicks: <span id="totalClicksCount" /></h4>
        <h3>All clients</h3>
        <div class="table-responsive">
            <table id="clients" class="table table-bordered ">
                <thead></thead>
                <tbody></tbody>
            </table>
            <div class="paginator"></div>
        </div>
        <h3>Device usage data</h3>
        <canvas id="deviceUsage" width="600" height="400"></canvas>
    </div>
    <div class="tab-pane fade" id="behaiviour" role="tabpanel" aria-labelledby="behaiviour-tab">
        <h3>All actions</h3>
        <div class="table-responsive">
            <table id="actions" class="table table-bordered ">
                <thead></thead>
                <tbody></tbody>
            </table>
            <div class="paginator"></div>
        </div>
        <h3>Daily views</h3>
        <canvas id="dailyViews" width="600" height="400"></canvas>
        <h3>Page views</h3>
        <div class="table-responsive">
            <table id="pageViews" class="table table-bordered ">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
        <h3>Clicks count</h3>
        <div class="table-responsive">
            <table id="clicks" class="table table-bordered ">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
        <h3>Average time on page</h3>
        <div class="table-responsive">
            <table id="averageTimeOnPage" class="table table-bordered ">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/chart/Chart.min.js" asp-append-version="true"></script>
    <script src="~/js/dashboard.js" asp-append-version="true"></script>
}
