@model WebAnalytics.Presentation.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>User count: @Model.UserCount</p>
    <p>Your session Id: @Model.SessionId</p>
    <p>User info: @Model.UserInfo</p>
    <div class="track btn btn-outline-primary" data-description="search">Search</div>
    <div class="track btn btn-outline-primary" data-description="help">Help</div>
    <div class="track btn btn-outline-primary" data-description="more">More</div>
</div>
@section Scripts {
    <script src="~/js/actionMonitor.js" asp-append-version="true"></script>
}
