@model WebAnalytics.Presentation.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="track btn btn-outline-primary" data-description="search">Search</div>
    <div class="track btn btn-outline-primary" data-description="help">Help</div>
    <div class="track btn btn-outline-primary" data-description="more">More</div>
</div>
@section Scripts {
    <script src="~/js/actionMonitor.js" asp-append-version="true"></script>
}
